* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #14171F;
}

header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bir {
  display: flex;
  padding-right: 200px;
}
header #img1 {
  width: 25px;
  padding-right: 5px;
}
header #img2 {
  width: 80px;
  height: 17px;
  padding-top: 7px;
}
header ul {
  list-style: none;
}
header a {
  text-decoration: none;
  padding: 0 20px;
}
header a:hover {
  color: #F9995D;
}
header li :last-child {
  color: #F9995D;
}

.section1 img {
  padding-top: 10px;
  width: 100%;
  height: 450px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border div {
  border-radius: 4px;
  border: 1.4px solid #6d6d6d;
  width: 230px;
  height: 130px;
  padding: 15px;
  margin: 20px;
}
.border div:hover {
  box-shadow: 0 0 10px rgb(172, 172, 172);
}
.border img {
  background: #FFF;
  width: 30px;
}
.border h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img22 {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-left: 20px;
}
.img22 img {
  width: 700px;
}

.border22 {
  position: absolute;
  bottom: -930px;
  left: 560px;
  z-index: 2;
  padding: 80px 30px;
  border: none;
  background-color: #2947A9;
  width: 350px;
  height: 250px;
  color: #FFF;
}
.border22 h1 {
  margin-top: -20px;
  padding-bottom: 30px;
}
.border22 .text {
  padding-bottom: 20px;
}
.border22 button {
  margin-top: 40px;
  padding: 7px 15px;
  color: #2947A9;
  border: none;
  border-radius: 3px;
  background-color: #FFF;
}

.section3 {
  margin-top: 100px;
  border: none;
  background-color: #e8e8e8;
  width: 100%;
  height: 600px;
}
.section3 .item0 {
  display: flex;
  justify-content: center;
}
.section3 h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-areas: "one one two two three three" "four four five five six six";
}
.grid .item {
  border: none;
  width: 200px;
  height: 150px;
  margin: 30px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}
.grid .item:nth-child(1) {
  grid-area: one;
  background-color: rgb(255, 255, 255);
}
.grid .item:nth-child(2) {
  grid-area: two;
  background-color: #2947A9;
  color: white;
}
.grid .item:nth-child(3) {
  grid-area: three;
  background-color: #fff;
}
.grid .item:nth-child(4) {
  grid-area: four;
  background-color: #2947A9;
  color: white;
}
.grid .item:nth-child(5) {
  grid-area: five;
  background-color: #fff;
}
.grid .item:nth-child(6) {
  grid-area: six;
  background-color: #2947A9;
  color: white;
}
.grid img {
  margin-top: 25px;
  width: 30px;
  border-bottom: 2px solid rgb(173, 173, 173);
  padding: 10px;
}

.header6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.header6 .header_div img {
  width: 200px;
}
.header6 #one {
  position: relative;
  z-index: 10;
  top: 50px;
  left: 350px;
}
.header6 #two {
  position: relative;
  z-index: 9;
  top: 90px;
}
.header6 #four {
  position: relative;
  z-index: 11;
  top: 180px;
  right: 85px;
}
.header6 #five {
  position: relative;
  z-index: 8;
  top: 150px;
  right: -220px;
}
.header6 .header7 {
  padding-top: 200px;
  margin-right: 100px;
}
.header6 .header7 p {
  padding: 40px 0;
}
.header6 .header7 h1 {
  font-size: 30px;
  color: #2947A9;
}
.header6 .header7 button {
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  background-color: #2947A9;
  color: #FFF;
  border-radius: 2px;
}

.icon img {
  width: 50px;
}
.icon #six {
  position: relative;
  z-index: 11;
  bottom: 400px;
  left: 500px;
}
.icon #seven {
  position: relative;
  z-index: 11;
  bottom: 360px;
  left: 130px;
}
.icon #eight {
  position: relative;
  z-index: 11;
  bottom: 280px;
  left: 350px;
}
.icon #nine {
  position: relative;
  z-index: 11;
  bottom: 110px;
  left: 220px;
}

.bac_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./detal/unsplash_MP0bgaS_d1c.png);
  width: 100%;
  height: 300px;
  color: #FFF;
  margin-bottom: 100px;
}
.bac_img button {
  margin-left: 100px;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: unset;
}

.bottom2 {
  padding-left: 100px;
  padding-bottom: 50px;
}

.bottom1 {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}
.bottom1 h3 {
  border-left: 3px solid #2947A9;
  padding-left: 10px;
  color: #2947A9;
}
.bottom1 p {
  padding-top: 10px;
  padding-left: 10px;
}
.bottom1 .bot_img {
  padding-left: 180px;
}
.bottom1 .bot_img img {
  width: 250px;
  padding: 15px;
}
.bottom1 #Buttonbot2 {
  width: 535px;
}

.section_bottom {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  border: none;
  background-color: #e8e8e8;
  width: 100%;
  height: 600px;
  text-align: center;
}
.section_bottom h1 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.section_bottom p {
  padding-bottom: 30px;
}
.section_bottom input {
  padding: 7px 25px;
  border: none;
  border-radius: 3px;
  margin: 10px 20px;
  outline: none;
}
.section_bottom #type {
  padding: 50px 154px;
  border: none;
  border-radius: 3px;
  margin: 10px 20px;
}
.section_bottom #type2 {
  padding-right: 290px;
}
.section_bottom button {
  border: none;
  border-radius: 2px;
  background-color: #2947A9;
  padding: 10px 80px;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=40-dars.css.map */